<div class="contactBar">
  <div class="contactItem">
    <mat-icon>phone</mat-icon>
    <a href="tel:608624289">Bytom 608 624 289</a>
  </div>

  <div class="spacer"></div>

  <div class="contactItem">
    <mat-icon>phone</mat-icon>
    <a href="tel:785171718">Tarnowskie Góry 785 171 718</a>
  </div>

  <div class="spacer"></div>

  <div class="contactItem">
    <a href="https://www.facebook.com/weterynariamazur/" target="_blank"><span class="fb">f</span>acebook</a>
  </div>

  <div class="spacer"></div>

  <div class="contactItem">
    <mat-icon class="material-icons-outlined">mail_outline</mat-icon>
    <a href="mailto:kontakt@weterynariamazur.pl">kontakt@weterynariamazur.pl</a>
  </div>
</div>
